<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="folder" value="C:\Workspace\_Privat\PunchClockLog"/>
		<add key="clockInCSVLabel" value="Kommen"/>
		<add key="clockOutCSVLabel" value="Gehen"/>
		<add key="clockInIconLabel" value="K"/>
		<add key="clockOutIconLabel" value="G"/>
		<add key="csvHeader" value="Art;Uhrzeit;Art;Uhrzeit"/>
		<add key="csvDelimiter" value=";"/>
		<!-- Documentation https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings -->
		<add key="loggedDateTimeFormat" value="dd.MM.yyyy HH:mm"/>		
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>