<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Folder in which the csv files will be stored -->
		<add key="folder" value="C:\Workspace\_Privat\PunchClockLog"/>
		
		<!-- You can define a header. This will be the first line in each new file
			 Each click will write the type 'clock in/out' and date to the file. The date will be written according to defined log format 'loggedDateTimeFormat'
			 For each 'clock in' a new line will be created
		-->
		<!-- Example one column for date and time 
				German: Art,Uhrzeit,Art,Uhrzeit 
				English: Type,Time,Type,Time
			Example two column for date and time 
				German: Art,Datum,Urhzeit,Art,Uhrzeit 
				English: Type,Date,Time,Type,Date,Time
				-->
		<add key="csvHeader" value="Type,Date,Time,Type,Date,Time"/>
		<!-- Documentation https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings 
			If you want to separate date and time  you can use the delimiter character
			One cell: dd.MM.yyyy HH:mm
			Two cells: dd.MM.yyyy;HH:MM
		-->
		<add key="loggedDateTimeFormat" value="dd.MM.yyyy,HH:mm"/>
		<add key="csvDelimiter" value=","/>
		<!-- Labels which will be written to the file for the clock in/out type-->
		<add key="clockInCSVLabel" value="Clocked in"/>
		<add key="clockOutCSVLabel" value="Clocked out"/>
		
		<!-- Labels which will be displayed in the notification icon-->
		<add key="clockInIconLabel" value="I"/>
		<add key="clockOutIconLabel" value="O"/>

		<!-- Context menu item labels-->
		<add key="openFolderMenu" value="Open folder"/>
		<add key="exitMenu" value="Exit"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>