<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Folder in which the csv files will be stored -->
		<add key="folder" value="C:\Workspace\_Privat\PunchClockLog"/>
		
		<!-- You can define a header. This will be the first line in each new file
			 Each click will write the type 'clock in/out' and date to the file. The date will be written according to defined log format 'loggedDateTimeFormat'
			 For each 'clock in' a new line will be created
		-->
		<add key="csvHeader" value="Art;Uhrzeit;Art;Uhrzeit"/>
		<!-- Documentation https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings 
			If you want to separate date and time  you can use the delimiter character
			One cell: dd.MM.yyyy HH:mm
			Two cells: dd.MM.yyyy;HH:MM
		-->
		<add key="loggedDateTimeFormat" value="dd.MM.yyyy; HH:mm"/>		
		<add key="csvDelimiter" value=";"/>
		<!-- Labels which will be written to the file for the clock in/out type-->
		<add key="clockInCSVLabel" value="Kommen"/>
		<add key="clockOutCSVLabel" value="Gehen"/>
		
		<!-- Labels which will be displayed in the notification icon-->
		<add key="clockInIconLabel" value="K"/>
		<add key="clockOutIconLabel" value="G"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>